*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all{
    background-color: #f1f1f1!important ;
    color: #000!important;
    width:100% ;
    height: auto;
}
div{
    display: block;
}
.header{
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3%;
}
h1{

    margin: 1.5%;
}
.sub1{
    color: #fff;
    background-color: black;
    padding: 0.2%;
}
.content{
    width: 100%;
    display: flex;
    height: 1200px;
}
.contentX
{
    width: 60%;
}
.contentY{
    width: 30%;
    margin-right: 3%;
}
.content1{
    height: 100%;
    margin-left: 4%;
}
.box1{
    width: 100%;
    height: 50%;
}
.box{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 5%;
}
.text1{
    margin: 2%;
    padding-right: 3%;
    width: 100%;
    height: 35%;
}
h2{
    margin-bottom: 2%;
}
.sub2{
    text-align: center;
    margin-top: 3%;
}
a{
    border: 1px solid gray;
    background-color: rgb(204, 176, 176);
    padding: 1%;
    margin-left: 2%;
    text-decoration: none;
    color: #000;
}
a:hover{
    color: white;
    background-color: purple;
}
.sub3{
    float: right;
    margin-right: 2%;
}
.sub4{
    color: #fff;
    background-color: black;
    padding: 0.7%;
    border-radius: 90%;
}
.box2{
    width: 100%;
    height: 40%;
    margin-bottom: 10%;
}
h3{
    margin: 2%;
}
.box3{
    width: 100%;
    height: 31.5%;
}
.text3{
    padding: 5%;
    height: 20%;
    width: 100%;
    background-color: rgb(238, 231, 231);
}
ul{
    flex-direction: column;
}
li{
    display: flex;
    list-style: none;
    width: 100%;
    height: 25%;
    padding: 3%;
    border: 0.5px solid rgb(184, 168, 168);
}
.img{
    height: 15%;
    width: 15%;
    padding: 2%;
}
li:hover{
    background-color: rgb(206, 189, 189);
}
.lorem{
    margin-left: 5%;
}
.box4{
    height: 20%;
    width: 100%;
}
.p1{
    padding: 5%;
    height: 35%;
    width: 100%;
    background-color: rgb(238, 231, 231);
}
.p2{
    padding: 5%;
    height: 45%;
    width: 100%;
    flex-direction: row;
    background: #fff;
}
.tag{
    padding: 0 12px;
    margin: 5px;
    background: #F1F1F1;
}
@media all and (max-width: 1000px)
{
    .content{
        display: unset;
        width: 100%;
    }
    .contentX{
        width: 90%;
    }
    .contentY{
        width: 90%;
    }
}
